<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div>
        <h2>Find product by id</h2>
        <%  if(product){ %>

        <h3>Product Id: <%= product.id %> </h3>
        <p>Product Model: <%= product.name %> </p>

        <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>